* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", sans-serif;
  background-color: #eee;
}

button {
  font-family: "Roboto", sans-serif;
}

header {
  font-family: "Barriecito", sans-serif;
  text-align: center;
  margin: 40px 0;
  color: #1e1a1d;
  font-size: 24px;
}

.form-container,
form,
form div div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.form-container {
  margin-bottom: 15px;
}

label {
  color: #7f534b;
  font-size: 30px;
  font-weight: 600;
}
input {
  height: 30px;
  width: 80px;
}

#form-submit {
  width: 80px;
  height: 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #352f33;
  color: #e5f2c9;
  transition: all 0.3s;
}
#form-submit:hover {
  cursor: pointer;
  background-color: #1e1a1d;
}

.game-board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 400px;
  height: 400px;
  gap: 1px;
  background-color: #eee;
  border: 1px solid #eee;
}

.tile-button {
  font-size: 86px;
  font-weight: 400;
  border: none;
  background-color: #8c705f;
  color: #e5f2c9;
  transition: all 0.3s;
}
.tile-button:hover {
  background-color: #7e6556;
  cursor: pointer;
}
